@font-face {
  font-family: Inter;
  src: url("../fonts/Inter.var.woff2");
}

body {
  background: #fff;
  color: #000;
  font-family: Inter;

  margin: 0 auto;
  width: 80%;
}

a {
  text-decoration: none;
}

a:visited {
  color: blue;
}

.footer {
  position: absolute;
  bottom: 0;
  height: 3em;
}

.footer-item {
  padding-right: 1em;
}
