<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <title>{{ page.title }} · {{ site.title }}</title>
    <meta property="og:title">{{ page.title }}</meta>
    <meta property="og:site_name">{{ site.title }}</meta>
    <meta property="og:image">https://pbs.twimg.com/profile_banners/1252277511746183168/1634157849/1500x500</meta>

    <link rel="stylesheet" href="{{ "/assets/css/main.css" | relative_url }}">
    <link rel="icon" href="/assets/images/favicon.png">
  </head>

  <body>
    {% if page.title != "home" %}
    <div class="header">
      <a href="/">← home</a>
    </div>
    {% endif %}

    <div class="container">
      {% if page.title != "home" %}
      <h1 class="heading">{{ page.title }}</h1>
      {% endif %}
      <div class="main">{{ content }}</div>

      {% if page.post %}
      <div class="contents">
	<h3>contents</h3>
        {% include toc.html html=content h_min=2 class="toc" %}
      </div>
      {% endif %}
    </div>

    <div class="footer">
      <a href="https://twitter.com/parafactual" class="footer-item">twitter</a>
      <a href="https://github.com/cosmicoptima" class="footer-item">github</a>
    </div>
  </body>
</html>
