<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta charset="utf-8">
        <title>{{ page.title }} - {{ site.title }}</title>
        <link rel="stylesheet" href="{{ "/assets/css/main.css" | relative_url }}">
    </head>
    <body>
        <div class="main">
            {{ content }}
        </div>

        <div class="footer">
            <a href="https://twitter.com/parafactual" class="footer-item">twitter</a>
            <a href="https://github.com/cosmicoptima" class="footer-item">github</a>
        </div>
    </body>
</html>
